.puzzle {
	position: absolute;
	width:100px;
	height:100px;
	background-color:#44ee00;
}

.gap {
	position: absolute;
	width:100px;
	height:100px;
}

#moves{
		position: absolute;
	width:100px;
	height:100px;
}

#SliderPuzzleDiv{
	background-size:contain;
}
